@model IEnumerable<ONELLOTARJANNEST10178800PROG6212POEPART2.Models.Claim>

@{
    ViewData["Title"] = "Track Claims";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Rate</th>
            <th>Hours Worked</th>
            <th>Claim Amount</th>
            <th>Description</th>
            <th>Status</th>
            <th>Claim Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var claim in Model)
            {
                <tr>
                    <td>@claim.ClaimId</td>
                    <td>@claim.LecturerId</td>
                    <td>@claim.Name</td>
                    <td>@claim.Rate</td>
                    <td>@claim.Hours</td>
                    <td>@claim.ClaimAmount</td>
                    <td>@claim.Description</td>
                    <td>@claim.ClaimStatus</td>
                    <td>@claim.ClaimDate.ToShortDateString()</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No  pending claims available.</td>
            </tr>
        }
    </tbody>
</table>


